* {
    /* adaptar a todo */
    box-sizing: border-box;
}

body {
    background: #3C97DD;
    color: #fff;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-size: 'Roboto', sans-serif ;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #3C97DD;
}

/* contender el formulario */
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255 , .4);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #A1E5F8;
}

/* para dividir  */
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.clase-lista-desplegable{
    width: 100%;
    padding: .5rem;
  

}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    background: white;
    outline: #3C97DD;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #3C97DD;
}

.contact-form form button {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;

    background: #3C97DD;
    border: 2px;

    /* border-radius: 5rem;
    padding: 1rem 2rem;
    min-width: 10rem;
    border: 2px; */
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #011b52;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #3C97DD;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE  para pantallas grandes*/
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}