
:root{
    --color-dark: #A1E5F8;
    --color-dark-x: #2d343f;
    /* Color de la caja de texto */
    --color-dark-xx: #ffffff;
    /* Color de las letras */
    --color-light: #ffffff;
    /* Color del fondo de la pagina */
    --color-grey: #3C97DD;
}

body {
    font-size: 'Roboto', sans-serif ;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light{
    background-color: var(--color-light) !important;
}

.bg-dark{
    background-color: var(--color-dark) !important;
} 

.p-6{
    padding: 4rem 7rem;
}

.contact-box{
    padding: 3rem;
}

.btn{
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}


.btn.outline-dark{
    border: 2px solid var(--color-dark-xx);
    
}

/* Cajas de Texto y forma de textbox */
.form-control{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: 2rem;
    padding: 1rem 1rem;
}

/*Cuadrado de la imagen*/
.register-bg {
    background-image: url('img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* para el label del chexbox */
.labelCheckbox{
    padding: 3rem;
    min-width: 10rem;

}



.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}

/*ESTO ES DEL OTRO MODELO*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('BaseMBH.jpg');
}


.form-register{
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;

}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family:'calibri' ;
    font-size: 18px;
    color: white;

}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
} */